@import "../../styles/common.scss";

.puppiesWrapper {
  margin: 0 auto;

  @include pc {
    max-width: 1440px;
    width: 100%;

    padding-top: 120px;
    padding-bottom: 148px;
  }

  @include mobile {
    padding: 20px;
    width: 100%;
    box-sizing: border-box;

    padding-top: 36px;
    padding-bottom: 47px;
  }

  .title {
    color: #000;
    text-align: center;

    @include pc {
      font-size: 32px;
      font-weight: 700;
    }

    @include mobile {
      font-size: 14px;
      font-weight: 600;
      margin-bottom: 8px;
    }

  }

  .introduction {
    text-align: center;
    display: block;
    font-weight: 400;

    @include pc {
      margin-top: 21px;
      margin-bottom: 90px;
      font-size: 24px;
      color: #6F4A00;
    }

    @include mobile {
      margin-top: 12px;
      margin-bottom: 24px;
      font-size: 12px;
      color: #878787;
    }
  }


  .cardWrapper {
    display: flex;
    flex-wrap: wrap;

    @include pc {
      gap: 1.597%;
      padding-left: 48px;
      padding-right: 48px;
    }

    @include mobile {
      gap: 4.762%;

      .productMore {
        border-radius: 20px;
        display: flex;
        justify-self: unset;
        cursor: pointer;
      }
    }

    .card {
      &.moveInstagram {
        text-decoration: none;
        color: inherit;
        position: relative;

        &:hover {
          text-decoration: none;
        }

        &.moveInstagramType0 {
          background-size: 120%;
          background-position: -10px -10px;

          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: start;
          padding: 2.22vw;
          gap: 1.389vw;

          .moveInstagramSubText {
            color: #6E4A00;
            font-size: 28px;
            font-weight: 700;
            line-height: 150%;

            @include mobile {
              font-size: 11px;
            }
          }

          .moveInstagramMainText {
            display: flex;
            align-items: center;
            gap: 12px;

            span {
              color: #7C5F22;
              font-size: 18px;
              font-weight: 400;

              @include mobile {
                font-size: 10px;
              }
            }
          }
        }

        &.moveInstagramType1 {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          text-align: center;
          background-color: #F7F3C2;
          gap: 3.056vw;

          &.moveInstagramType2 {
            gap: 1.111vw;
          }

          svg {
            position: absolute;
            display: block;
            width: 2.5vw;
            height: 2.5vw;
            top: 2.222vw;
            right: 1.389vw;

            @include mobile {
              width: 4vw;
              height: 4vw;
              top: 4vw;
              right: 3vw;

            }
          }

          .moveInstagramImage1 {
            width: 13.056vw;
          }

          .moveInstagramSubText {
            color: #6E4A00;
            font-size: 28px;
            font-weight: 700;
            line-height: 150%;

            @include mobile {
              font-size: 11px;
            }
          }

          .moveInstagramMainText {
            color: #7C5F22;
            font-size: 18px;
            font-weight: 400;

            @include mobile {
              font-size: 10px;
            }
          }
        }
      }

      box-sizing: border-box;
      border-radius: 20px;
      background-color: #fff;
      border: 1px solid #F0F0F0;
      box-shadow: 2px 2px 8px 0px rgba(125, 125, 125, 0.15);

      @include pc {
        width: 32.268%;
        // height: 462px;
        // max-height: 32.268vh;
        flex: 0 1 calc(32.268%);
        margin-bottom: 25px;
      }

      @include mobile {
        width: 47.619%;
        flex: 0 1 calc(47.619%);
        margin-bottom: 16px;
      }

      .puppyInfoWrapper {
        display: flex;

        @include pc {
          justify-content: space-between;
          padding-left: 38px;
          padding-right: 25px;
          padding-top: 28px;
          padding-bottom: 8px;
        }

        @include mobile {
          justify-content: start;
          padding-left: 24px;
          padding-top: 16px;
          padding-bottom: 8px;
        }

        .puppyName {
          display: inline-flex;
          flex-direction: column;

          gap: 8px;

          @include mobile {
            display: flex;
            flex-direction: row;
            align-items: end;
            justify-content: space-between;
            gap: 8px;
          }

          .name {
            font-weight: 700;
            color: #FFAD00;

            @include pc {
              font-size: 32px;
            }

            @include mobile {
              font-size: 14px;
            }
          }

          .announcementNumber {
            font-size: 14px;
            font-weight: 500;
            color: #6F4A00;

            @include mobile {
              font-size: 12px;
            }
          }
        }

        .puppyInfo {
          display: flex;
          flex-direction: column;
          justify-content: end;

          .features {
            display: flex;
            flex-direction: row;
            gap: 14px;

            svg {
              cursor: pointer;
              width: 24px;
              height: 24px;
            }
          }
        }
      }

      .profileImage {
        width: 100%;
        vertical-align: bottom;
        background-color: #F7F3C2;
        // background-color: rgb(255, 204, 204);
      }

      .featureSelectStatusBar {
        width: 100%;
        height: 4px;
        display: flex;

        div {
          width: 100%;
          background-color: #FFE4AC;

          @include pc {
            &.active {
              // background-color: #FFAC01;
            }
          }
        }

      }

      .featMoreWrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;

        @include pc {
          padding: 32px;
        }

        @include mobile {
          padding: 12px;
        }

        .featureMoreTitle {
          @include pc {
            font-size: 20px;
          }

          @include mobile {
            font-size: 12px;
          }

          font-weight: 500;
          color: #6F4A00;
        }

        svg {
          width: 8px;
          height: 20px;

          @include mobile {
            width: 8px;
            height: 8px;
          }
        }
      }

    }

  }

  .more {
    width: 50%;
    max-width: 464px;
    padding-top: 40px;
    padding-bottom: 40px;
    margin: 0 auto;
    margin-top: 24px;

    border-radius: 20px;
    cursor: pointer;
    display: block;

    color: #fff;
    background-color: #FFAF0C;
    text-align: center;

    font-size: 32px;
    font-weight: 600;

    @include mobile {
      font-size: 22px;
      padding: 12px;
    }
  }
}

.puppyDetailModalWrapper {
  z-index: 101;
  position: fixed;
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;

  display: flex;
  align-items: center;

  .puppyDetailBox {
    position: relative;
    display: flex;
    margin: 0 auto;
    z-index: 1;

    border-radius: 20px;
    background-color: white;

    .closeModal {
      position: absolute;
      display: flex;

      cursor: pointer;
      top: 40px;
      right: 40px;
      
      width: 44px;
      height: 44px;

      justify-content: center;
      align-items: center;

      @include mobile {
        top: 20px;
        right: 20px;

        svg {
          stroke-width: 0;
        }
      }
    }

    @include pc {
      width: 1000px;
      height: 450px;
    }

    @include mobile {
      width: 100%;
      min-width: 300px;
      max-width: 85vw;
      max-height: 90%;

      flex-direction: column;

      &::-webkit-scrollbar {
        display: none;
      }
    }

    .puppyImage {
      box-sizing: border-box;

      @include pc {
        // width: 720px;
        // height: 450px;
        border-radius: 20px 0px 0px 20px;
      }

      @include mobile {
        width: 100%;
        // height: 187px;
        border-radius: 20px 20px 0px 0px;
      }
    }

    .puppyInfoBox {
      display: flex;
      flex-direction: column;

      @include pc {
        padding: 40px;
        overflow-y: scroll;
      }

      @include mobile {
        padding: 20px;
        overflow-y: scroll;
      }

      .puppyTitleBox {
        display: flex;
        flex-direction: column;
        gap: 16px;

        @include mobile {
          align-items: center;
          flex-direction: row;
          // justify-content: space-between;
          gap: 12px;
        }

        .puppyName {
          color: $mainColor;
          font-size: 32px;
          font-weight: 700;

          @include mobile {
            display: inline-block;
            font-size: 24px;
          }
        }

        .puupyAnnouncementNumber {
          color: #6F4A00;
          font-size: 14px;
          font-weight: 500;
        }
      }

      .featureBox {
        display: flex;
        flex-direction: column;

        @include pc {
          margin-top: 28px;
          gap: 18px;
        }

        @include mobile {
          margin-top: 14px;
          gap: 12px;
        }

        div {
          display: flex;
          align-items: center;
          gap: 18px;

          div {
            width: 24px;
            height: 24px;
          }

          span {
            font-size: 16px;
            font-weight: 500;
            color: #6F4A00;
            line-height: 150%;

            @include mobile {
              font-size: 14px;
            }
          }
        }
      }
    }


  }

}