@import "../../styles/common.scss";

.puppiesWrapper {
  margin: 0 auto;

  @include pc {
    max-width: 1440px;
    width: 100%;

    padding-top: 120px;
    padding-bottom: 148px;
  }

  @include mobile {
    padding: 20px;
    width: 100%;
    box-sizing: border-box;

    padding-top: 36px;
    padding-bottom: 47px;
  }

  .title {
    color: #000;
    text-align: center;

    @include pc {
      font-size: 32px;
      font-weight: 700;
    }

    @include mobile {
      font-size: 14px;
      font-weight: 600;
      margin-bottom: 8px;
    }

  }

  .introduction {
    text-align: center;
    display: block;
    font-weight: 400;

    @include pc {
      margin-top: 21px;
      margin-bottom: 90px;
      font-size: 24px;
      color: #4D4D4D;
    }

    @include mobile {
      margin-top: 12px;
      margin-bottom: 24px;
      font-size: 12px;
      color: #878787;
    }
  }


  .cardWrapper {
    display: flex;
    flex-wrap: wrap;

    @include pc {
      gap: 1.597%;
    }

    @include mobile {
      gap: 4.762%;

      .productMore {
        border-radius: 20px;
        display: flex;
        justify-self: unset;
        cursor: pointer;
      }
    }

    .card {
      box-sizing: border-box;
      border-radius: 20px;
      background-color: #fff;

      @include pc {
        width: 32.268%;
        // height: 462px;
        // max-height: 32.268vh;
        flex: 0 1 calc(32.268%);
        margin-bottom: 25px;
      }

      @include mobile {
        width: 47.619%;
        flex: 0 1 calc(47.619%);
        margin-bottom: 16px;
      }

      .puppyInfoWrapper {
        display: flex;

        @include pc {
          justify-content: space-between;
          padding-left: 38px;
          padding-right: 25px;
          padding-top: 28px;
          padding-bottom: 8px;
        }

        @include mobile {
          justify-content: start;
          padding-left: 24px;
          padding-top: 16px;
          padding-bottom: 8px;
        }

        .puppyName {
          display: inline-flex;
          flex-direction: column;

          gap: 8px;

          @include mobile {
            gap: 2px;
          }

          .name {
            font-weight: 700;
            color: #FFAD00;

            @include pc {
              font-size: 32px;
            }

            @include mobile {
              font-size: 18px;
            }
          }

          .announcementNumber {
            font-size: 14px;
            font-weight: 500;
            color: #6F4A00;

            @include mobile {
              font-size: 12px;
            }
          }
        }

        .puppyInfo {
          display: flex;
          flex-direction: column;
          justify-content: end;

          .features {
            display: flex;
            flex-direction: row;
            gap: 14px;

            svg {
              cursor: pointer;
              width: 24px;
              height: 24px;
            }
          }
        }
      }

      .profileImage {
        width: 100%;
        vertical-align: bottom;
      }

      .featureSelectStatusBar {
        width: 100%;
        height: 8px;
        display: flex;

        div {
          width: 100%;
          background-color: #FFE4AC;

          @include pc {
            &.active {
              background-color: #FFAC01;
            }
          }
        }

      }

      .featMoreWrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;

        @include pc {
          padding: 32px;
        }

        @include mobile {
          padding: 12px;
        }

        .featureMoreTitle {
          @include pc {
            font-size: 20px;
          }

          @include mobile {
            font-size: 12px;
          }

          font-weight: 500;
          color: #6F4A00;
        }

        svg {
          width: 8px;
          height: 20px;

          @include mobile {
            width: 8px;
            height: 8px;
          }
        }
      }

    }

  }

  .more {
    width: 50%;
    max-width: 464px;
    padding: 40px;
    margin: 0 auto;
    margin-top: 24px;

    border-radius: 20px;
    cursor: pointer;
    display: block;

    color: #8C5E00;
    background-color: #E4FFD8;
    text-align: center;

    font-size: 32px;
    font-weight: 600;

    @include mobile {
      font-size: 22px;
      padding: 12px;
    }
  }
}