@import "../../styles/common.scss";

.puppiesMatchingGameBox {
  margin: 0 auto;

  @include pc {
    max-width: 1440px;
    width: 100%;

    padding-top: 120px;
    padding-bottom: 160px;
  }

  @include mobile {
    padding: 20px;
    width: 100%;
    box-sizing: border-box;

    padding-top: 36px;
    padding-bottom: 60px;
  }

  .title {
    text-align: center;
    color: #000;
    font-size: 32px;
    font-weight: 700;

    @include mobile {
      font-size: 14px;
    }
  }

  .introduction {
    text-align: center;
    display: block;
    color: #000;
    font-size: 24px;
    font-weight: 400;

    @include pc {
      margin-top: 21px;
      margin-bottom: 90px;
      color: #6F4A00;
    }

    @include mobile {
      margin-top: 12px;
      margin-bottom: 24px;

      font-size: 11px;
      font-weight: 400;
      color: #878787;
    }
  }
}


.matchingButtonWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  gap: 8px;

  @include pc {
    padding-right: 180px;
    padding-bottom: 20px;
    justify-content: end;
    align-items: center;
  }
}


.matchingLevelButton {
  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 12px;
  background-color: #e4e4e4;
  box-sizing: border-box;

  cursor: pointer;

  @include pc {
    padding: 20px 30px;
  }

  @include mobile {
    width: 48px;
    height: 48px;
  }

  &.high {
    background-color: #FF6726;
  }

  &.row {
    background-color: #26A4FF;
  }

  .level {
    color: #fff;
    font-size: 24px;
    font-weight: 700;

    @include mobile {
      font-size: 14px;
    }
  }
}

.matchingGameButton {
  cursor: pointer;
  display: inline-block;
  border: 1px solid $mainColor;
  border-radius: 12px;

  padding: 20px 50px;

  color: $mainColor;
  font-size: 32px;
  font-weight: 500;

  @include mobile {
    padding: 16px 20px;
    font-size: 14px;
    font-weight: 500;
  }
}

.matchingGameWrapper {
  position: relative;
  margin: 0 auto;

  @include pc {
    width: 75vw;
    max-width: 1440px;
    border-radius: 20px;
    box-sizing: border-box;
    padding-left: 5%;
    padding-right: 5%;
    background-color: #F7F3C2;
  }

  @include mobile {
    width: 100%;
  }

  .matchingGameButtonWrapper {
    position: absolute;
    top: 20px;
    right: 1%;
    width: 16%;

    display: flex;
    flex-direction: column;
    gap: 10px;

    .matchingGameButton {
      text-align: center;
      padding: 20px 0;

    }
  }

}

.matchingGameBox {
  position: relative;
  background-color: #E4E4E4;
  margin: 0 auto;

  @include pc {
    width: 48vw;
    max-width: 921.59px;
  }

  @include mobile {
    width: 80vw;
    border-radius: 20px;
  }

  .gameOnBoard {
    &.active {
      display: block;
    }

    &.inactive {
      display: none;
    }

    .onBoardTitle {
      text-align: center;
      font-weight: 700;
      color: white;

      @include pc {
        font-size: 32px;
      }

      @include mobile {
        font-size: 20px;
      }
    }

    .onBoardIntroduction {
      color: white;
      font-size: 24px;
      font-weight: 400;
    }

    .gameExplanation {
      color: #C4C4C4;
      font-size: 20px;
      font-weight: 400;
    }

    .startButton {
      color: #000;
      font-size: 20px;
      font-weight: 600;
      padding: 22px 50px;
      background-color: #E4E4E4;
      display: inline-block;
    }
  }

  .cardWrapper {
    display: grid;
    box-sizing: border-box;

    column-gap: 1vw;
    row-gap: 1vw;
    padding: 1vw;
    margin: 0 auto;
    justify-content: center;

    @include mobile {
      column-gap: 4vw;
      row-gap: 4vw;
      padding: 4vw;
    }

    &.row {
      grid-template-columns: 1fr 1fr;
    }

    &.high {
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
  }
}

.matchingCardBox {
  transition: transform 0.3s;
  transform: rotateY(180deg);

  .matchingCard.back {
    display: inline-flex;
  }

  .matchingCard.name,
  .matchingCard.image {
    display: none;
  }

  &.active {
  transform: rotateY(0deg);
    .matchingCard.back {
      display: none;
    }
    
    .matchingCard.name,
    .matchingCard.image {
      display: inline-flex;
    }
  }

  .matchingCard {
    margin: 0 auto;
    box-sizing: border-box;
    border-radius: 20px;

    display: inline-flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    &.back {
      background-color: #FFA726;
      border: 5px solid #fff;
    }

    &.name {
      flex-direction: column;
      border: 5px solid #FFA726;
      background-color: #fff;

      .name {
        color: #FFA726;
        font-weight: 700;
      }
    }

    &.image {
      border: 5px solid #FFA726;
      background-color: #fff;

      img {
        width: 100%;
        height: 100%;
        border-radius: 20px;
      }

    }

    .matchingCardIconWrapper {
      box-sizing: border-box;
      border-radius: 100px;
      background-color: #FFD9A1;

      display: flex;
      justify-content: center;
      align-items: center;

      svg {
        path {
          fill: #FFA726;
        }
      }
    }

    @include pc {
      &.row {
        max-width: 432px;
        max-height: 432px;
        width: 22.5vw;
        height: 22.5vw;

        &.name {
          gap: 2.083vw;

          .name {
            font-size: 2.5rem;
          }
        }

        .matchingCardIconWrapper {
          width: 6.250vw;
          height: 6.250vw;

          svg {
            width: 3.333vw;
            height: 3.333vw;
          }

          &.large {
            width: 9.444vw;
            height: 9.444vw;

            svg {
              width: 5vw;
              height: 5vw;
            }
          }
        }
      }

      &.high {
        width: 10.556vw;
        height: 10.556vw;

        &.name {
          gap: 1.0415vw;

          .name {
            font-size: 1.25rem;

            @include mobile {
              font-size: .5rem;
            }
          }
        }

        .matchingCardIconWrapper {
          width: 3.125vw;
          height: 3.125vw;

          svg {
            width: 1.6665vw;
            height: 1.6665vw;
          }

          &.large {
            width: 4.722vw;
            height: 4.722vw;

            svg {
              width: 2.5vw;
              height: 2.5vw;
            }
          }
        }
      }
    }

    @include mobile {
      &.row {
        width: 33.333vw;
        height: 33.333vw;

        &.name {
          gap: 2.083vw;

          .name {
            font-size: 1.25rem;
          }
        }

        .matchingCardIconWrapper {
          width: 9.2591666669vw;
          height: 9.2591666669vw;

          svg {
            width: 4.9377284001vw;
            height: 4.9377284001vw;
          }

          &.large {
            width: 13.9909712003vw;
            height: 13.9909712003vw;

            svg {
              width: 7.4073333335vw;
              height: 7.4073333335vw;
            }
          }
        }
      }

      &.high {
        width: 15.6665vw;
        height: 15.6665vw;

        &.name {
          gap: 1.0415vw;

          .name {
            font-size: 0.75rem;
          }
        }

        .matchingCardIconWrapper {
          width: 4.6295833334vw;
          height: 4.6295833334vw;

          svg {
            width: 2.4688642vw;
            height: 2.4688642vw;
          }

          &.large {
            width: 6.9954856002vw;
            height: 6.9954856002vw;

            svg {
              width: 3.7036666668vw;
              height: 3.7036666668vw;
            }
          }
        }
      }
    }
  }
}