@import "../../styles/common.scss";


.puppiesMatchingGameBox {
  margin: 0 auto;


  @include pc {
    max-width: 1440px;
    width: 100%;

    padding-top: 120px;
    padding-bottom: 128px;
  }

  @include mobile {
    padding: 20px;
    width: 100%;
    box-sizing: border-box;

    padding-top: 36px;
    padding-bottom: 34px;
  }

  .title {
    text-align: center;
    color: #000;
    font-size: 32px;
    font-weight: 700;
  }

  .introduction {
    text-align: center;
    display: block;
    color: #000;
    font-size: 24px;
    font-weight: 400;

    @include pc {
      margin-top: 21px;
      margin-bottom: 90px;
    }

    @include mobile {
      margin-top: 12px;
      margin-bottom: 24px;
    }
  }

  .matchingLevelButtonWrapper {
    display: flex;
    gap: 25px;
  }

}

.matchingLevelButton {
  cursor: pointer;
  padding: 20px 44px;
  display: inline-block;
  border-radius: 12px;
  background-color: #e4e4e4;

  .level {
    font-size: 32px;
    font-weight: 700;
  }

  .separator {
    font-size: 32px;
    font-weight: 100;

  }

  .cellNumber {
    font-size: 24px;
    font-weight: 300;

  }

}

.matchingGameButton {
  cursor: pointer;
  padding: 20px 50px;
  display: inline-block;
  border-radius: 12px;
  background-color: #e4e4e4;

  font-size: 32px;
  font-weight: 500;
}

.matchingGameBox {
  position: relative;
  border-radius: 20px;
  background-color: #E4E4E4;
  max-width: 1440px;
  width: 100%;

  .gameOnBoard {
    // position: absolute;

    &.active {
      display: block;
    }

    &.inactive {
      display: none;
    }

    .onBoardTitle {
      text-align: center;
      font-weight: 700;
      color: white;

      @include pc {
        font-size: 32px;
      }

      @include mobile {
        font-size: 20px;
      }
    }

    .onBoardIntroduction {
      color: white;
      font-size: 24px;
      font-weight: 400;
    }

    .gameExplanation {
      color: #C4C4C4;
      font-size: 20px;
      font-weight: 400;
    }

    .startButton {
      color: #000;
      font-size: 20px;
      font-weight: 600;
      padding: 22px 50px;
      background-color: #E4E4E4;
      display: inline-block;
    }
  }

  .cardWrapper {
    display: grid;
    box-sizing: border-box;
    gap: 10px;
    padding: 10px;

    &.row {
      grid-template-columns: 1fr 1fr;
    }

    &.middle {
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    &.high {
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    }

    .card {
      cursor: pointer;
      box-sizing: border-box;
      border: solid 1px black;
      height: 100px;

      transition: transform 0.5s;
      
      &.active {
        transform: rotateY(180deg);
      }

      .back {
        transform: rotateY(180deg);
      }
    }


  }

}