
// media
@mixin mobile {
  @media (max-width: 1024px) {
    @content;
  }
}

@mixin pc {
  @media (min-width: 1024px) {
    @content;
  }
}

$mainColor: #FFAF0C;
$secondaryColor: #43240A;
$brownColor: #6E4A00;

$backgroundColor: #FAF6EE;
$backgroundSubColor: #F7F3C2;

$grayscale01Color: #424242;
$grayscale02Color: #757575;
$grayscale03Color: #F5F5F5;
$whiteColor: #fff;

$subColor: #0E3C8F;

$lineHieght: 130%;

$title1FontWeigth: 700;
$title1FontSize: 36px;
$title2FontWeigth: 700;
$title2FontSize: 28px;
$body1FontWeigth: 600;
$body1FontSize: 24px;
$body2FontWeigth: 400;
$body2FontSize: 18px;
$body3FontWeigth: 400;
$body3FontSize: 16px;
$body4FontWeigth: 400;
$body4FontSize: 13px;

$button1FontWeigth: 600;
$button1FontSize: 20px;
$button2FontWeigth: 600;
$button2FontSize: 13px;
$caption1FontWeigth: 400;
$caption1FontSize: 15px;
$caption2FontWeigth: 300;
$caption2FontSize: 10px;



$lckdFeatureTitleColor: rgba(0, 0, 0, .60);
$lckdFeatureContentColor: #555;


