
// media
@mixin mobile {
  @media (max-width: 1024px) {
    @content;
  }
}

@mixin pc {
  @media (min-width: 1024px) {
    @content;
  }
}

$mainColor: #EBB646;
$subColor: #0E3C8F;
$white: #fff;

$lckdFeatureTitleColor: rgba(0, 0, 0, .60);
$lckdFeatureContentColor: #555;