@import "../styles/common.scss";

.mainColor {
  color: $mainColor;
}

.banner {
  width: 100vw;
  position: relative;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: auto;

  @include pc {
    min-height: 100vh;
    height: 100vh;
  }

  @include mobile {
    min-height: 300px;
    height: 300px;
  }

  .textBox {
    color: white;
    z-index: 1;

    @include pc {
      margin-bottom: 200px;
    }
    
    .title {
      font-weight: 700;
      line-height: 120%;
      
      @include pc {
        text-align: center;
        font-size: 64px;
        margin-top: 50px;
        margin-bottom: 50px;
      }

      @include mobile {
        font-size: 24px;
      }
    }

    .name {
      font-weight: 500;
      line-height: 150%;
      
      @include pc {
        // display: block;
        // padding-top: 100px;

        position: absolute;
        bottom: 100px;
        right: 130px;
        text-align: right;
        font-size: 24px;
      }

      @include mobile {
        font-size: 13px;
        position: absolute;
        bottom: 20px;
        right: 20px;
        text-align: right;
      }
    }
  }
}