@import "../styles/common.scss";

.lckdWrapper {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: $backgroundColor;
  // @include pc {
    // background-image: url(../assets/lckd_background.webp);
    // background-position: bottom;
    // background-repeat: no-repeat;
    // background-size: contain;
  // }

  .lckd {
    box-sizing: border-box;
    text-align: center;
    
    @include mobile {
      padding: 40px 28px;
    }

    @include pc {
      width: 100%;
      max-width: 1536px;
      min-width: 1024px;

      padding-top: 82px;
      padding-bottom: 60px;
      padding-left: 48px;
      padding-right: 48px;
    }

    .title {
      color: $secondaryColor;
      line-height: $lineHieght;

      @include pc {
        font-size: $title1FontSize;
        font-weight: $title1FontWeigth;
        margin-bottom: 20px;
      }

      @include mobile {
        font-size: $body3FontSize;
        font-weight: $body1FontWeigth;
        margin-bottom: 8px;
      }
    }

    .introduction {
      color: $brownColor;
      line-height: $lineHieght;

      @include pc {
        font-size: $body1FontSize;
        font-weight: $body1FontWeigth;

      }

      @include mobile {
        font-size: $body4FontSize;
        font-weight: $body4FontWeigth;
      }
    }
  }
}

.featureWrapper {
  @include pc {
    display: flex;
    margin-top: 80px;
    gap: 24px;
  }

  @include mobile {
    margin-top: 24px;
    gap: 16px;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);

    
    color: $secondaryColor;
    line-height: $lineHieght;
    font-size: 13px;
    font-weight: 400;
  }

  .featureBox {
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    gap: 24px;
    
    @include pc {
      width: 342px;
      min-height: 400px;
      padding: 48px 32px;

      color: $lckdFeatureTitleColor;

      border-radius: 20px;
      border: 1px solid #fff;
      background-color: rgba(255, 255, 255, 0.80);
      box-shadow: 2px 2px 8px 0px rgba(125, 125, 125, 0.15);
      backdrop-filter: blur(10px);
      flex-direction: column;
    }

    @include mobile {
      width: 100%;
      padding: 20px;
      gap: 14px;
      align-items: center;

      border-radius: 8px;
      border: 1px solid #F0F0F0;
      background-color: #fff;
      box-shadow: 2px 2px 8px 0px rgba(125, 125, 125, 0.15);
    }

    .iconWrapper {
      @include pc {
        display: block;
        text-align: start;
        padding: 8px;
      }

      @include mobile {
        display: inline-block;
      }

      .icon {
        @include pc {
          width: 48px;
          height: 48px;
        }

        @include mobile {
          width: 48px;
          height: 48px;
        }
      }
    }

    .featTitle {
      @include pc {
        min-height: 62px;
        font-size: $body1FontSize;
        font-weight: $body1FontSize;
        line-height: $lineHieght;
        text-align: start;
      }

      @include mobile {
        display: inline-block;
        font-size: 14px;
        font-weight: 500;
        letter-spacing: 0.9px;
        text-align: start;
      }
    }

    .content {
      text-align: start;
      font-size: $body2FontSize;
      font-weight: $body2FontSize;
      line-height: $lineHieght;
      color: $lckdFeatureContentColor;
    }

  }
}