@import "../../styles/common.scss";

.introductionWrapper {
  background-color: #FFFDF8;
  position: relative;

  @include mobile {
    background-color: $backgroundColor;
  }

  .introductionBox {
    display: flex;
    flex-direction: row;
    gap: 39px;
    align-items: center;
    justify-content: center;

    padding-top: 65px;
    padding-bottom: 110px;

    @include mobile {
      flex-direction: column;
      gap: 28px;
      align-items: center;
      justify-content: center;
      padding-left: 16px;
      padding-right: 16px;
    }

    .bazaarInfo {
      .introductionInfo {
        color: $secondaryColor;
        font-weight: $title1FontWeigth;
        font-size: $title1FontSize;
        line-height: $lineHieght;

        @include mobile {
          color: $brownColor;
          font-weight: $body3FontWeigth;
          font-size: $body3FontSize;
        }
      }
    }

    .bazaarQna {
      display: inline-flex;
      flex-direction: column;
      background-color: $backgroundSubColor;
      padding: 30px;
      gap: 32px;

      @include mobile {
        padding: 12px;
        box-sizing: border-box;
        width: 100%;
        border-radius: 8px;
      }

      h2 {
        font-size: 2.5vw;
        font-weight: 600;
        line-height: 150%;
        text-align: start;
      }

      .contents {
        display: flex;
        flex-direction: column;
        gap: 12px;

        .tabBox {
          display: flex;
          justify-content: space-around;

          .tabButton {
            border-radius: 60px;
            display: flex;
            align-items: center;
            justify-content: center;

            box-sizing: border-box;
            border: 2px solid $secondaryColor;
            color: $secondaryColor;
            cursor: pointer;

            font-weight: $button1FontWeigth;
            font-size: $button1FontSize;
            line-height: $lineHieght;

            @include pc {
              width: 131px;
              height: 46px;
            }

            @include mobile {
              font-weight: $button2FontWeigth;
              font-size: $button2FontSize;
              border: 1px solid $brownColor;
              color: $brownColor;
              padding: 8px 20px;
            }

            &.active {
              border: 0px;
              background-color: $secondaryColor;
              color: $whiteColor;

              @include mobile {
                background-color: $brownColor;
              }
            }
          }
        }

        .tabContent {
          background-color: #43240A;
          border-radius: 8px;
          @include pc {
            width: 39.063vw;
            height: 26.042vw;
          }

          @include mobile {
            width: 100%;
          }

          .map {
            width: 100%;
            height: 100%;
            cursor: pointer;
            position: relative;

            div {
              display: none;
            }

            img {
              object-fit: fill;
              width: 100%;
              height: 100%;
            }

            .mapDetail {
              display: none;
            }

            &:hover {
              div {
                display: block;
              }

              .mapDetail {
                display: block;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);

                font-size: 28px;
                font-weight: 700;
                line-height: 130%;
                color: #fff;

                @include mobile {
                  font-size: 22px;
                }
              }
            }
          }

          .album {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(2, 1fr);
            height: 100%;

            @include mobile {
              grid-template-columns: repeat(2, 1fr);
            }

            .image {
              width: 100%;
              height: 100%;
              object-fit: cover;
              overflow: hidden;
            }

          }

          .qna {
            padding: 30px;
            background-color: #FFC772;
            height: 100%;

            display: flex;
            flex-direction: column;
            box-sizing: border-box;

            gap: 12px;
            overflow-y: scroll;

            @include mobile {
              padding: 12px;
            }

            .content {
              flex: 1;
              display: flex;
              flex-direction: column;
              justify-content: center;

              padding: 34px;
              font-size: 1.25vw;
              font-weight: 500;
              line-height: 130%;
              gap: 10px;

              background-color: rgba(255, 255, 255, 0.20);

              @include mobile {
                font-size: 14px;
              }

              .question {
                color: #43240A;
              }

              .answer {
                color: #CD0F00;
              }
            }
          }

        }
      }
    }
  }


}