@import "../styles/common.scss";

.footer {
  padding: 40px;
  text-align: center;

  @include mobile {
    padding: 40px 20px;
  }

  div {
    display: flex;
    flex-direction: column;
    gap: 8px;
    font-size: 14px;
    white-space: wrap;

    a {
      color: black;
      font-weight: 600;
      text-decoration: none;
      opacity: 0.6;
    }
  }
}